# Dependencies
/node_modules

# Hardhat artifacts
/artifacts
/cache

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.history
.vscode
*.swp
*.swo

# TypeChain output
/typechain-types


# OpenZeppelin contracts (if not needed)
/openzeppelin-contracts

# Logs
logs
*.log
npm-debug.log*

# Optional: macOS specific
.DS_Store

# Optional: Windows specific
Thumbs.db

# Optional: Yarn specific
.yarn
.yarn-cache

# Optional: Coverage reports
coverage
